@font-face {
    font-family: "MonogramExtended";
    src: url("../fonts/monogram-extended.ttf");
}

@media only screen and (max-width: 500px) {
    nav {
        flex-direction: column !important; 
        justify-content: center !important;
        flex-wrap: nowrap;
    }

    .ml-auto {
        margin-left: unset !important;
    }

    .mr-auto {
        margin-right: unset !important;
    }

    #searchbar {
        margin-bottom: 20px;
    }

    .card {
        min-width: 280px !important;
    }

    .inspect-card-width {
        width: 19rem !important;
    }
}

body {
    height: 100vh;
    font-family: "MonogramExtended" !important;
}

.background {
    position: fixed;
    background-image: -webkit-linear-gradient(-45deg, #FB4141 49%, #181616 49%, #181616 51%, #FFFFFF 51%);
    height: 100%;
    width: 100%;
}

.logo {
    width: 250px;
}

.searchbar {
    width: 170px !important;
    border-radius: 20px !important;
    font-size: 24px !important;
}

.btn-gen {
    width: 70px;
    height: 30px;
    line-height: 10px !important;
    border-radius: 20px !important;
    font-size: 25px !important;
}

.btn-type {
    border-radius: 999px !important;
}

.btn-outline-dark {
    background-color: white !important;
}

.btn-outline-dark:hover {
    background-color: #181616 !important;
}

.disp-flex-col {
    display: flex;
    flex-direction: column;
}

.disp-flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disp-flex-row-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.disp-flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.black-bg {
    background: #181616;
}

.id-bar {
    border-radius: 20px;
    height: 26px;
    line-height: 7px;
}

.id-text {
    color: white;
    font-size: 24px;
}

.mx-100 {
    margin-left: 200px;
    margin-right: 200px;
}

.border {
    border-radius: 20px;
}

.border-t-radius-20 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.border-b-radius-20 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card {
    background-color: unset !important;
    border: none !important;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.card:hover .pokeball-bg {
    filter: blur(5px);
}

.card:hover .pokemon-image {
    transform: translateX(-50%) scale(1.05);
    filter: drop-shadow(20px 4px 6px black);
}

.dex-image {
    position: relative;
    top: 0;
    left: 0;
}

.px-100px {
    margin-left: 100px;
    margin-right: 100px;
}

.pokeball-bg {
    position: relative;
    top: 0;
    left: 0;
    width: 225px;
    opacity: 20%;
}

.pokemon-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pos-rel {
    position: relative;
}

.pos-fix-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog {
    position: relative;
}

.pop-up-bg {
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.mt-min-40 {
    margin-top: -40px;
}

.bg-red {
    background-color: #FB4141;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.bg-white {
    background-color: white;    
    width: 80%;
    height: 80%;
}

/* Table design */
.tg {
    border-collapse:collapse;
    border-spacing:0;
}

.tg td {
    border-color:rgba(0,0,0,0);
    font-size:24px;
    overflow:hidden;
    padding: 3px 20px;
    word-break:normal;
}

.tg .tg-0lax {
    text-align:left;
    vertical-align: top;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.inspect-card-width {
    width: 25rem;
}